<table>
  <thead>
    <tr>
      <% table.columns.each do |column| %>
        <%= content_tag(:th, column.name, column.html_options) %>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% table.each do |row| %>
      <tr class="<%= cycle("odd", "even") %>">
        <% row.each do |cell| %>
          <%= content_tag(:td, cell.value, cell.html_options) %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
